/* done by ibrahim */
article a{
    color: black;
    font-size: 20px;
    float: left;
    margin-right: 30px;
    position: relative;
    bottom: 50px;
}
a:hover{
    color: #a20a0a;
}
p{
    margin: 20px 0;
    font-size: 23px;
}
article img {
    width: 70%;
    height: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 65px;
    margin: 35px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(53, 53, 53, 0.2), 0 6px 20px 0 rgba(58, 58, 58, 0.19);
    float: left;

}
article{
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border-color:#a20a0a ;
    float: left;
    margin: 0px 15px 100px 15px;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.2), 0 6px 20px 0 rgba(109, 109, 109, 0.19);
    text-align: center;
    padding: 10px;
    height: 300px;

}

h2 , h1{
    margin:40px 0;
    font-size: 30px;
}
.first-p{
   padding-top: 80px;

}
.names {
    font-size: 23px;
    position: relative;
    padding-bottom :10px; ;
    bottom: 70px;

}
.bio{
    position: relative;
    bottom: 70px;
    text-align: left;
    font-size: 14px;
}



