/* done by ibrahim */
p{
    margin: 20px 0;
    font-size: 20px;
}
article img {
    width: 60%;
    height: 150px;
    float: left;
    border-radius: 55%;
    position: relative;
    bottom: 60px;
    margin: 35px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(185, 185, 185, 0.2), 0 6px 20px 0 rgba(187, 187, 187, 0.19);

}
article{
    width: 230px;
    background-color: white;
    border-radius: 5px;
    border-color:#a20a0a ;
    float: inline-start;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(189, 189, 189, 0.2), 0 6px 20px 0 rgba(187, 187, 187, 0.19);
    text-align: center;

}

h2 , h1{
    margin:40px 0;
    font-size: 30px;
}
.first-p{
   padding-top: 80px;

}
h4 {
    font-size: 23px;
    position: relative;
    padding-bottom :50px; ;
    bottom: 80px;

}
a{
    padding-right: 30px;
    margin-top: 20px;
    position: relative;
    
}



