/* done by ibrahim */
body{
    background-color: #f6eec9;
    
}
a{
    text-decoration: none;
}
header{
    background-color:#a20a0a ;
    height: 110px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}
nav{
    width: 100%;
    position: fixed;
    left: 3%;
    font-family:'Yellowtail', cursive;
    height: 110px;

}
.li{
    display: inline;
    line-height: 110px;
    color: #f6eec9;
    margin-left: 150px;
    float: left;
    font-size: 1.2vw;
    
}
.li:hover{
    color: white;
}
.main{
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 100px;
}
#logo{
    width: 280px;
    height: 240px;
    float: left;
    z-index: 2;
    position: relative;
    top:-70px;
    right:20px;
    
}

footer {
    margin-top: 50px;
    color: #f6eec9;
    background-color:#a20a0a ;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
}

.first-div {
    display: inline-block ;
    width: 33%;
    padding: 10px;
}

footer div h4 {
    margin-left:10px ;
    padding: 10px;
}

footer ul li {
    list-style: none;
    padding: 10px;
}

.second-div :link {
    text-decoration: none;
}

.second-div ul li a {
    color: #f6eec9;
}

.second-div {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.third-div {
    width: 25%;
    display: inline-block;
    text-align: center;
    float: right;
    margin-bottom: 10px;
}

.third-div a:link {
    text-decoration: none ;
}

.third-div h4, .third-div a {
    color: #f6eec9;
}

.third-div a {
    font-size: larger;
}
a:hover{
    color: white;
}

@media only screen and (max-width:1600px) {
    .main{
        width: 65%;
        position: relative;
        left: 20%;
        margin-top: 100px;
    }

    .li{
        position: relative;
        right:100px;
    }

    #logo{
        width: 200px;
        height: 180px;
        float: left;
        z-index: 2;
        position: relative;
        top:-45px;
        right:20px;
        
    }
} 

