/* done by ibrahim */
fieldset{
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #a20a0a;
    padding: 23px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #fff5c0;
    color: #a20a0a;
    margin:180px 0px 132px 0;

}
input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-color: #a20a0a;
    font-size: 18px;
}
.textf , .input-item{
    width: 95%;
}
label{
    padding: 10px;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    background-color:#a20a0a ;
    border-style: solid;
    border-width: 2px;
    color: #f6eec9 ;
    border-radius: 5px;
}
button:hover{
    background-color:#f6eec9 ;
    border-color:#a20a0a ;
    color:#a20a0a ;
    border-radius: 5px;
}

footer {
    margin-top: 50px;
    color: #f6eec9;
    background-color:#a20a0a ;
    position: relative;
    bottom: 0px;
    width: 100%;
    clear: right;
}
#printReport{
    display: none;
}
.submit-order{
    background-color:#a20a0a ;
    border-color:#f6eec9  ;
    color: #f6eec9 ;
    float: right;
    margin-top: 30px;
}
.submit-order:hover{
    background-color:#f6eec9 ;
    border-color:#a20a0a ;
    color:#a20a0a ;
}

.insideDiv{
    width: 30%;
    height: 400px;
    background-color: white;
    border: 2px #a20a0a  solid;
    position: fixed;
    left: 35%;
    top: 250px;
    border-radius: 5px;
    z-index: 20;
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.26), 0 6px 20px 0 rgba(31, 31, 31, 0.281);

}

.btn-reportConfirm{
    float: right;
    position: relative;
    bottom: 0px;
}
.reportDiv{
    
    height: 310px;
    font-size: 30px;

}
.reportDiv h2{
    text-align: center;
    padding: 20px 0 20px 0;
}
.reportDiv p{
    text-align: left;
    padding: 0px 0px 20px 20px;
    font-size: 18px;
}

legend{
    background-color: white;
    border-radius: 5px;
    border: 4px #a20a0a ;
    font-size: 40px;
    border-style: double;
}
.background-img{
    position: absolute;
    left: 1%;
    
}


@media only screen and (max-width:1600px) {
    .background-img{
        position: absolute;
       left: -10%;
    }
}



